@font-face {
    font-family: Stem300;
    src: url(./fonts/OTF/Stem-Regular.otf);
}

@font-face {
    font-family: Girloy700;
    src: url(./fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Stem200;
    src: url(./fonts/OTF/Stem-ExtraLight.otf);
}

@font-face {
    font-family: Stem100;
    src: url(./fonts/OTF/Stem-Thin.otf);
}

@font-face {
    font-family: Stem500;
    src: url(./fonts/OTF/Stem-Medium.otf);
}

@font-face {
    font-family: Stem700;
    src: url(./fonts/OTF/Stem-Bold.otf);
}

@font-face {
    font-family: Mont700;
    src: url(./fonts/Mont/Mont-SemiBold.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    scroll-behavior: smooth;
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: Stem300;
}

body {
    overflow-x: hidden;
}

a {
    display: block;
}

.container {
    max-width: 1759px;
    margin: auto;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 31px;
}

.header__main ul {
    display: flex;
    list-style: none;
    gap: 25px;

    text-transform: uppercase;
}

.header__main ul a {
    font-size: 18px;
    font-family: Stem500;
}

.header__call {
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: Mont700;
    font-size: 25px;
    font-weight: 700;
}

.swiper1 {
    height: 854px !important;

}

.swiper1_slide {
    padding-left: 49px;
    position: relative;
    background: url(./photos/slider1Back.png);
}

.swiper__slideText {
    background: url(./photos/slider1_1.png);
    height: 854px;
    background-repeat: no-repeat;
    background-position: right;

}

.burger__menu {
    position: absolute;
    width: 417px;
    background: white;
    top: 0;
    right: -200%;
    transition: .5s all;
    height: 100vh;
    z-index: 100000;
    padding: 24px 30px 50px 43px;
}

.right0 {
    visibility: inherit;
    right: 0;
}

.close {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
}

.burger_contact {
    margin-top: 386px;
}

.burger_contact div {
    display: flex;
    gap: 5px;
    margin-top: 25px;
}

.burger__menu_main ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 52px;
}

.burger__menu_main ul a {
    font-size: 18px;
    font-family: Stem500;
    text-transform: uppercase;
}

.swiper__slideText2 {
    background: url(./photos/slider1_2.png);
    height: 854px;
    background-repeat: no-repeat;
    background-position: right;
}

.swiperBigText {
    z-index: 20 !important;

}

.swiper__slideText h1 {
    font-size: 65px;
    font-family: Stem700;
    color: white;
    padding-top: 105px;
    width: 830px;
    text-decoration: underline;
}

.swiper__slideText2 .slider__icons div p {
    width: 420px;
}

.swiper__slideText2__text1 {
    width: 450px;
}

.swiper__slideText3 {
    background: url(./photos/slider1_3.png);
    height: 854px;
    background-repeat: no-repeat;
    background-position: right;
}

.swiper__slideText4 {
    background: url(./photos/slider1_4.png);
    height: 854px;
    background-repeat: no-repeat;
    background-position: right;
}

.swiper__slideText4 h1 {
    width: 766px;
}

.swiper__slideText>p {
    color: white;
    padding-top: 30px;
    width: 480px;
    font-size: 25px;
    font-weight: 350;
    font-family: Stem200;
}

.loginToCabinet {
    width: 364px;
    padding: 20px 0;
    color: white;
    background: #C91717;
    font-family: Stem300;
    margin-top: 50px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.loginToCabinet:hover {
    background: #9D0F0F;
}

.slider__icons {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 90px;
    align-items: center;
}

.slider__icons div {
    color: white;
    width: 591px;
    font-size: 25px;
    gap: 30px;
    display: flex;
    align-items: center;
}

.slider__icons div p {
    font-family: Stem200;

    color: white;
    width: 380px;
}

.swiperNavigation1 {
    position: absolute;
    right: 0;
    top: 45%;
}

.swiperNavigation1 .swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiperNavigation1 .swiper-button-next {
    right: 35px;
    top: 230px;
    left: auto;
}

.swiperNavigation1 .swiper-button-prev {
    left: auto;
    top: -210px;
    transform: rotate(180deg);
    right: 35px;
}

.swiperNavigation1 .swiper-pagination {
    right: 47px !important;
    left: auto !important;
}

.swiperNavigation1 .swiper-pagination-bullet {
    width: 3px;
    height: 75px;
    margin: 0;
    margin-top: 28px !important;
    position: relative;
    background: white;
    border-radius: 0;


}

.swiperNavigation1 .swiper-pagination-bullet p {
    color: white;
    font-size: 25px;
    font-family: Girloy700;
    position: absolute;
    left: -50px;
    top: 25px;
}

.swiperNavigation1 .swiper-pagination-bullet-active p {
    display: block !important;
}


.swiper2__elementHead {
    display: flex;
    width: 570px;
    flex-direction: column;
    gap: 30px;

}

.swiper2__element {
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.10);
    padding-top: 42px;
    padding-left: 44px;
    height: 283px;
    width: 570px;
}

.swiper2__element>div {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 35px;
}

.swiper2__element h3 {
    font-size: 27px;
    font-family: Stem300;
    width: 386px;

}

.swiper2__element p {
    font-family: Stem200;
    font-size: 18px;
    width: 460px;
}

.h3_swiper {
    width: 391px !important;
}

.swiper2__element_logo {
    width: 77px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C91717;
    border-radius: 100%;
}

h2 {
    width: 490px;
    text-decoration: underline;
    color: black;
    padding-left: 50px;
    /* padding-top: 120px; */
    font-size: 65px;
    font-family: Stem700;
}

#whatWeSolve {
    overflow-x: hidden;
    margin-top: 120px;
    position: relative;
}

.whatWeSolve__rightText {
    position: absolute;
    font-size: 75px;
    opacity: 0.07;
    right: -670px;
    top: 0px;
    font-family: Stem700;
}

.whatWeSolve__text {
    display: flex;
    gap: 48px;
    align-items: center;
    margin-top: 32px;
}

.whatWeSolve_line {
    border-radius: 1px;
    background: #C91717;
    width: 6px;
    height: 160px;
}

.whatWeSolve__text p {
    width: 1285px;
    font-size: 25px;
    font-family: Stem200;

}

.swiper2 {
    margin-top: 108px;
    padding-bottom: 30px !important;
}

.swiper2Main {
    position: relative;
}

.swiperBut2 {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
    z-index: 1;
    cursor: pointer;
    justify-content: center;
    border-radius: 100%;
}

.swiperBut2_2 {
    right: -60px;
    left: auto;
}

.tools__mother {
    margin-top: 40px;
    width: 574px;
}
header{
    overflow: hidden !important;
}
#ourAdventages{
    overflow-x: hidden;
}
.tools__main {
    display: flex;
    gap: 20px;
}

.tool__element {
    border-radius: 10px;
    padding: 37px 0 37px 47px;
    background: #F8F8F8;
    cursor: pointer;
    margin-bottom: 31px;
}

.tool__element p {
    font-size: 27px;
    font-family: Stem500;
}

#toolsandReviews {
    margin-top: 120px;
}

.tool__element-active p {
    color: #C91717;
}

.tool__element-active {
    border-left: 6px solid #C91717;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tool__element_open {
    border-radius: 10px;
    background: #FFF;
    padding-left: 43px;
    display: none;
    width: 1166px;
    height: 821px;
    padding-top: 64px;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.10);
}

.tool__element_open .whatWeSolve__text {
    gap: 42px;
}

.tool__element_open .whatWeSolve__text p {
    font-size: 25px;
    font-weight: 200;
}

.tool__element_open h3 {
    padding-top: 77px;
    font-size: 27px;
    /* font-family: Stem500; */
}

.displayBlock {
    display: block !important;
}

.displayNone {
    display: none !important;
}

.tool__element_open__allow {
    display: flex;
    row-gap: 60px;
    padding-top: 52px;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.tool__element_open__allow-element {
    width: 347px;
}

.tool__element_open__allow-element p {
    color: #767676;
    font-size: 25px;
    font-family: Stem200;
    width: 1064px;
    padding-bottom: 24px;
}

.tool__element_open__allow-element span {
    font-family: Stem200;
}

.tool__element_open-active {
    display: block;
}

.tool__element_open1 .tool__element_open__allow-element {
    width: 495px;
    font-weight: 200;
}

.tool__element_open1 .tool__element_open__allow {
    column-gap: 74px;
}

.form__toRequest__main {
    background: url(./photos/form1Back.png);
    height: 637px;

}

#form__toRequest {
    margin-top: 120px;
    margin-bottom: 120px;
}

#form__toRequest h3 {
    font-family: Stem300;
    color: white;
    text-align: center;
    padding-top: 90px;
    font-size: 65px;

}

#form__toRequest p {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Stem200;
    font-weight: 100;
    padding: 41px 0 71px;
}

#form__toRequest p b {
    color: white;
    font-weight: 300;
}

.form__toRequest__main form {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.form__input {
    font-size: 18px;
    padding: 25px 0 25px 25px;
    width: 330px;
    background: white;
    border: none;
    outline: none;
    font-family: Stem200;
}

.form__toRequest__main button {
    width: 285px;
    background: #C91717;
    font-size: 25px;
    font-family: Stem300;
    color: white;
    cursor: pointer;
    border: none;
    padding: 20px 0;
}

.form__toRequest__main button:hover {
    background: #9D0F0F;
    transition: .3s;
}

.form__toRequest__main span {
    padding-top: 26px;
    font-size: 17px;
    display: block;
    font-family: Stem100;
    font-weight: 100;
    color: white;
    text-align: center;

}

.cases__button_main {
    display: flex;
    gap: 25px;
    margin-top: 57px;
    align-items: flex-start;

}

.cases__button {
    border-radius: 10px;
    background: #F8F8F8;
    width: 570px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    text-align: center;
    cursor: pointer;
    /* padding: 35px 0; */
}

.cases__button-active {
    border-bottom: 6px solid #C91717;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.cases__button-active p {
    color: #C91717;
}

.cases__element_main {
    margin-top: 70px;
    display: none;
    padding-left: 50px;
}

.team__member img {
    display: block;
    margin: auto;
}

.cases__element_main-active {
    display: block;
}

.cases_element>h3 {
    font-size: 45px;
    text-decoration: underline;
    width: 942px;
}

.cases_texts_main {
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
}

.cases_texts_head {
    display: flex;
    gap: 30px;
    align-items: center;
}

.cases_texts_head h3 {
    font-size: 27px;
    /* font-weight: 500; */
}

.cases_texts-el p {
    margin-top: 30px;
    width: 500px;
    font-family: Stem200;
}

.cases_texts-el {
    margin-bottom: 50px;
}

.cases_texts-el ul {
    width: 550px;
}

.cases_texts-el ul li {
    list-style-type: disc;
    font-family: Stem200;
    margin-top: 30px;
    font-size: 20px;
}

.cases__lastDivs {
    width: 463px;
    border-radius: 10px;

    background: url(./photos/setting1.png);
    background-repeat: no-repeat;
    background-position: right top;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.10);
    padding-top: 42px;
    padding-left: 46px;
    margin-bottom: 27px;
    height: 207px;
}

.cases__lastDivs1 {
    background: url(./photos/setting2.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.cases__lastDivs p {
    font-size: 27px;
    font-weight: 300;
    font-family: Stem500;
}

.cases__lastDivs span {
    font-family: Stem100;
    font-size: 18px;
    padding-top: 33px;
    width: 380px;
    display: block;
}

.cases_texts-el-text {
    margin-left: -20px;
    margin-top: 0 !important;
}

#ourAdventages {
    position: relative;
    margin-top: 90px;
}

.ourAdventages_main {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start;
    gap: 24px;
}

#ourAdventages h2 {
    padding-bottom: 40px;
}

.swiper3 {
    margin-top: 120px;
    margin-top: 40px;
}

.swiper3 .swiper-slide {
    display: flex;
    align-items: flex-start;
    padding-right: 80px;
    justify-content: space-between;
}

.swiper3 h3 {
    font-size: 45px;
    font-family: Stem300;
    padding-left: 50px;
    text-decoration: underline;

}

.swiper3__text {
    margin-top: 55px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.swiper3Line {
    border-radius: 1px;
    background: #C91717;
    width: 6px;
    height: 114px;
}

.swiper3__text p {
    width: 450px;
    font-size: 25px;
    font-weight: bold;
    font-family: Stem100;
}

.swiper3 .swiper-pagination {
    left: 18% !important;
    top: auto;
    margin-top: 50px;
    bottom: 0 !important;
}

.swiper3 .swiper-pagination-bullet {
    width: 18px;
    background: #F8F8F8 !important;
    height: 18px;
    opacity: 1;
}

.swiper3 .swiper-pagination-bullet-active {
    background: #BDBDBD !important;
    opacity: 1 !important;
}

.swiperBut3 {
    background: #F8F8F8;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 44%;
    left: 32%;
    z-index: 1000;
    cursor: pointer;
    align-items: center;
    border-radius: 100%;
}

.swiperBut3_3 {
    left: 96%;
    z-index: 5;

}

.swiper3 .swiper-wrapper {
    padding-bottom: 30px;
}

.swiper3__main {
    margin-top: 120px;
    position: relative;
    z-index: 1000;
}

.stagesOfWork__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 43px;
}

.stagesOfWork-el {
    width: 391px;
    cursor: pointer;
    padding: 30px 30px 40px 40px;
    background: #F8F8F8;
}

.stagesOfWork-el:hover p {
    color: #C91717;
    transition: .3s;
}

.stagesOfWork-el:hover h3 {
    border-bottom: 6px solid #C91717;
    width: fit-content;
    transition: .1s;

}

.stagesOfWork-el p {
    font-size: 25px;
    color: #767676;
    margin-bottom: 15px;
    font-family: Stem100;
}

.stagesOfWork-el h3 {
    font-size: 27px;
    /* font-family: Stem300; */
    margin-bottom: 24px;
}

.stagesOfWork-el span {
    font-size: 18px;
    font-family: Stem200;
}

.stagesOfWork-el2 {
    margin: 51px 74px 42px 0;
}

.stagesOfWork__el_mother {
    margin-top: 73px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stagesOfWork-el3 {
    margin: 26px 0 32px 74px;
}

.stagesOfWork__el_mother2 {
    align-items: flex-start;

    align-self: flex-end;

}

.stagesOfWork__main img {
    align-self: flex-start;
}

#aboutCompany {
    position: relative;
    margin-top: 120px;
}

#aboutCompany .whatWeSolve__rightText {
    opacity: 1;
    right: 0;
}

#aboutCompany .whatWeSolve__text p {
    width: 1204px;
    font-size: 25px;
    font-family: Stem200;
}

#aboutCompany .whatWeSolve__text {
    align-items: flex-start;
}

#aboutCompany .whatWeSolve_line {
    height: 160px;
}

.aboutCompany__info {
    justify-content: space-between;
    display: flex;
    margin-top: 84px;
}

.aboutCompany__info_block1__text1 {
    padding: 36px 47px;
    background: #F8F8F8;
    font-size: 25px;

    width: 898px;
    font-family: Stem100;
}

.aboutCompany_numbers {
    display: flex;
    margin-top: 44px;
    gap: 62px;
    flex-wrap: wrap;
    width: 880px;
}

.aboutCompany_number h3 {
    font-size: 80px;
    color: #C91717;
    margin-bottom: 10px;
    font-family: Stem700;
}

.aboutCompany_number p {
    font-size: 27px;
    font-family: Stem300;
}

.sticky__call3 {
    position: fixed;
    right: 30px;
    bottom: 46px;
    z-index: 10000;
    width: 81px;
    height: 81px;
    display: none;
}


.sticky__call3__open1 {
    position: absolute;
    left: 0;
    transition: .5s;
    border-radius: 100%;
    height:  60px;
    top: 13px;
}

.sticky__call3_main {
    position: relative;
}

.sticky__call3__1,
.sticky__call3__2 {
    position: absolute;
    z-index: 10000;
    top: 0;
    cursor: pointer;
    left: 0;
}

.sticky__call3__open2 {
    position: absolute;
    left: 0;
    border-radius: 100%;
    transition: .5s;
    height: 60px;
    top: 13px;
}

.sticky__call3__open2:hover{
    transition: .3s;
    border: 1px solid #C91717;
}

.left1 {
    left: -137px;
}

.left2 {
    left: -67px;
}

.sticky__call3__open1:hover {
    transition: .3s;
    border: 1px solid #C91717;
}
.sticky__call3__open1:hover .sticky__back {
    fill: white;
}

.sticky__call3__open1:hover .sticky__front {
    fill: #C91717;
}


.sticky__call3__open2:hover .sticky__back {
    fill: white;
}

.sticky__call3__open2:hover .sticky__front {
    fill: #C91717;
}

.aboutCompany__info_block2 {
    border-radius: 10px;
    background: #FFF;
    width: 100%;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.10);
    padding: 63px 0 51px 44px;
}

.aboutCompany__info_block2 h3 {
    font-size: 45px;
    text-decoration: underline;
    margin-bottom: 80px;
}

.unique__company {
    display: flex;
    column-gap: 100px;
    row-gap: 70px;
    flex-wrap: wrap;
}

.unique__company__el {
    width: 318px;
}

.unique__company__el p {
    margin-top: 24px;
    font-family: Stem100;
}

.underfooter2 {
    display: none;
}

.team__members {
    position: relative;

}

.team__member {
    width: 331px !important;
}

.team__member img {
    width: 100%;
}

.team__member h3 {
    margin: 46px 0 10px;
    font-size: 27px;
}

.inputCheck {
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 26px;
    width: 1206px;
    align-items: center;
}

.inputCheck2 {
    width: 666px;
    margin: 0;
}

.inputCheck2 span {
    width: auto !important;
    margin: 0;
    margin-left: 15px !important;
}

.inputCheck2 input {
    width: auto !important;
}

.inputCheck span {
    padding-top: 0;
}

.member_line {
    width: 94px;
    height: 6px;
    border-radius: 1px;
    background: #C91717;
    margin-bottom: 20px;
}

.team__member span {
    font-size: 18px;
    font-family: Stem100;
}

#ourTeam h2 {
    width: auto;
    margin: 120px 0 50px;
}

#ourClients h2 {
    width: 900px;
    margin: 120px 0;
}

.clients1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .5;
}

.clients2 {
    display: flex;
    align-items: center;
    opacity: .5;
    justify-content: space-around;
}

.swiper4 .swiper-slide {
    border-radius: 10px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 570px;
    align-items: flex-start;
    height: 412px;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.10);
    padding: 42px 36px 57px 46px;
}

.swiper4 .swiper-wrapper {
    padding-bottom: 30px;
    padding-top: 10px;
}

.swiper4__head {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 27px;
}

.swiper4 .swiper-slide span {
    font-size: 18px;
    font-family: Stem100;
    display: block;
}

#reviews {
    position: relative;
}

#reviews h2 {
    margin: 120px 0 50px;
}

.swiper-button-next3,
.swiper-button-prev3,
.swiper-button-next5,
.swiper-button-prev5 {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    background: #F8F8F8;
    cursor: pointer;
    justify-content: center;
}

.swiper-button-next3 {
    right: -60px;
    z-index: 1000;
    top: 43%;
}

.swiper-button-next5 {
    right: -60px;
    top: 50%;
}

.swiper-button-prev5 {
    left: -60px;
    top: 50%;
}

.swiper-button-prev3 {
    left: -60px;
    top: 43%;
    z-index: 1000;

}

#form2 {
    margin-top: 100px;
    margin-bottom: 85px;
}

.form2__main {
    display: flex;
}

.form2__block1 {
    padding: 90px 0 0 40px;
    background: #34373E;
    width: 860px;
}

.form2__block1 h3 {
    color: white;
    font-size: 65px;
    width: 670px;
}

.form2__block1 p {
    font-size: 25px;
    font-family: Stem100;
    margin-top: 15px;
    font-weight: 100;
    color: white;
}

.form2__block1 p b {
    font-family: Stem200;
    color: white;
}

.form2__block1 form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 45px;
    gap: 30px;
}

.form2__block1 input {
    width: 477px;
}

.form2__block1 button {
    width: 477px;
    cursor: pointer;
    color: white;
    padding: 20px 0;
    background: #C91717;
    font-size: 25px;
    border: none;
}

.form2__block1 button:hover {
    background: #9D0F0F;
    transition: .3s;
}

.form2__block1 span {
    width: 666px;
    display: block;
    color: white;
    margin-top: 45px;
    font-size: 17px;
    font-weight: 100;
    font-family: Stem100;
}

.ourAdventages_main2 {
    display: none;
}

.footer_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_main li {
    font-size: 18px;
    margin-bottom: 18px;
}

.footer__address {
    width: 460px;

}

.footer__address p {
    font-size: 18px;
    font-family: Stem100;
}

.confidation {
    font-size: 18px;
    font-family: Stem100;
    cursor: pointer;
    margin-top: 50px;
    display: block;
}

.contact span {
    font-family: Stem100;
    display: block;
    margin-top: 41px;
    margin-bottom: 14px;
    font-size: 18px;
}

.underfooter {
    font-size: 18px;
    font-family: Stem100;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 23px;
}

.sticky__call {
    position: fixed;
    left: 6px;
    z-index: 10000;
    height: 61px ;
    display: block;
    top: 50%;
    border-radius: 100%;

    transform: translateY(-50%);
}

.sticky__call svg {
    cursor: pointer;

}

.sticky__call:hover .sticky__back {
    fill: white;
    transition: .3s;
}

.sticky__call:hover .sticky__front {
    fill: #C91717;
    transition: .3s;

}

.sticky__call:hover {
    border: 2px solid #C91717;
    transition: .3s;
}

.sticky__call:hover .sticky__bord {
    stroke: white;
    transition: .3s;

}

.sticky__call2 {
    position: fixed;
    right: 50px;
    z-index: 100;
    width: 60px;
    height: 60px;
    top: 35%;
    /* transform: translateY(-50%); */
}

.sticky__texts {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-family: Stem100;
    transform: rotate(-90deg);
}

.sticky__call2__main {
    position: relative;
}

.sticky__toopen {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;

    justify-content: center;
    width: 58px;
    height: 58px;
    background: #C91717;
    border-radius: 100%;
    left: 41px;
    transition: .3s all;
}

.sticky__toopen:hover {
    background: white;
    border: 1px solid #C91717;

}

.sticky__toopen:hover path {
    fill: #C91717;
    transition: .3s;
}
/* toolsandReviews  cases aboutCompany */
.sticky__call1 {
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 41px;
    height:60px;
    transition: .3s all;
    border-radius: 100%;
}
.sticky__call1:hover{
    border: 1px solid #C91717;
}
.sticky__call1 svg:hover .sticky__back {
    fill: white;
    transition: .3s;
}

.sticky__call1 svg:hover .sticky__front {
    fill: #C91717;
    transition: .3s;

}

.sticky__toopen__main:hover .sticky__call1 {
    left: -17px;
    top: 68px;
}

.sticky__toopen__main:hover .sticky__call1_1 {
    left: -17px;
    top: 132px;
}

.account__mother,
.account_OK_mother {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    top: 0;
    z-index: 10000;
    left: 0;
    justify-content: center;
}

.confidation__mother {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    top: 0;
    z-index: 10000;
    left: 0;
    justify-content: center;
}

.confidation__main {
    width: 1074px;
    height: 805px;
    padding: 63px 32px 55px 42px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.10);
}

.confidation__main h3 {
    text-align: center;
    font-size: 44px;
    padding-bottom: 31px;
}

.acount_OK {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 616px;
    gap: 29px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.10);
}

.acount_OK h3 {
    font-size: 35px;
}


.acount_OK p {
    font-size: 25px;
    font-family: Stem200;
}

.acount_main {
    background: white;
    display: block;
    width: 1074px;
    padding: 70px 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.10);
}

.inputCheck3 {
    width: 816px;
}

.inputCheck3 span {
    width: auto;
}

.inputCheck3 input {
    width: auto !important;
}

.acount_main h3 {
    text-align: center;
    font-size: 65px;
}

.acount_main p {
    text-align: center;
    font-family: Stem200;
    font-size: 25px;
    margin-top: 33px;
    margin-bottom: 64px;
}

.acount_main form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.acount_main input {
    width: 550px;
    background: #F6F6F6;
}

.acount_main button {
    width: 550px;
    background: #C91717;
    color: white;
    padding: 20px 0;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.acount_main button:hover {
    background: #9D0F0F;
    transition: .3s;
}

.acount_main span {
    width: 816px;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 17px;
    font-family: Stem100;
    margin-top: 40px;
    font-weight: bold;
}

.confidation__text {
    overflow-y: scroll;
    height: 630px;
}

.confidation__text::-webkit-scrollbar {
    width: 10px;
}

.confidation__text::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f1f1f1;
    height: 90%;

}

.confidation__text::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #A5A5A5;
}

.aboutCompany_number {
    width: 390px;
}

.sticky__toopen:hover .sticky__toopenBack {
    fill: #C91717;
    transition: .5s;
}

.sticky__toopen:hover .sticky__toopenFront {
    fill: white;
    transition: .5s;
}

.team__member1 img {
    width: 105px;

}

.swiper3__4 {
    width: 495px;
    margin-right: 200px;
}

.disabled {
    cursor: not-allowed !important;
    opacity: .6 !important;
}

.displayFlex {
    display: flex;
}

.overflow {
    overflow: hidden;
}

.footer_main li a {
    font-size: 18px;
    text-transform: uppercase;
}

.tools__mother2 {
    display: none;
}

@media screen and (max-width:1760px) {
    .container {
        max-width: 1340px;
    }

    .header__main {
        padding: 17px 31px;
    }

    .swiper__slideText h1 {
        font-size: 55px;
    }

    .swiper__slideText>p {
        font-size: 23px;
    }

    .loginToCabinet {
        margin-top: 33px;
    }

    .slider__icons {
        gap: 22px;
    }

    .slider__icons div p {
        font-size: 23px;
        width: 302px;
    }

    .swiper1 {
        height: 704px !important;
    }

    .swiper__slideText2 .slider__icons div p {
        width: 301px;
    }

    .swiper__slideText {
        height: 704px;
    }

    .swiper__slideText3 .slider__icons {
        margin-top: 160px;
    }

    .whatWeSolve__text p {
        width: 833px;
    }

    .swiper2__element {
        width: 430px;
    }

    .swiper2__element h3 {
        font-size: 25px;
        width: 260px;
    }

    .h3_swiper {
        width: 246px !important;
    }

    .swiper2__element p {
        width: 380px;
    }

    h2 {
        font-size: 55px;
        width: 422px;
    }

    .tools__mother {
        width: 432px;
    }

    .tool__element {
        padding-right: 75px;
    }

    .tool__element_open .whatWeSolve__text p {
        width: 742px;
        font-size: 23px;
    }

    .tool__element_open {
        width: 886px;
        height: 890px;
    }

    .tool__element_open .whatWeSolve__text {
        margin-top: 0;
    }

    .tool__element_open h3 {
        padding-top: 22px;
        font-size: 25px;
    }

    .tool__element_open__allow-element {
        width: 239px;
    }

    .tool__element_open__allow-element span {
        font-size: 18px;
    }

    .tool__element_open1 .tool__element_open__allow-element {
        width: 342px;
    }

    #whatWeSolve {
        margin-top: 80px;
    }

    #toolsandReviews {
        margin-top: 80px;
    }

    #form__toRequest {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    #form__toRequest h3 {
        font-size: 55px;
        padding-top: 69px;
    }

    #form__toRequest p {
        font-size: 23px;
        padding: 21px 0 49px;
    }

    .form__input {
        width: 260px;
    }

    .inputCheck {
        width: 891px;
        margin-top: 48px;
    }

    .form__toRequest__main {
        height: 570px;
    }

    .cases_element>h3 {
        font-size: 40px;
    }

    .cases_texts_head h3 {
        font-size: 25px;
    }

    .cases_texts-el p {
        font-size: 20px;
        width: 382px;
    }

    .cases_texts-el ul {
        width: 397px;
    }

    .cases__lastDivs {
        width: 433px;
    }

    .cases__lastDivs p {
        font-size: 25px;
    }

    #ourAdventages {
        margin-top: 50px;
    }

    .swiper3__text p {
        width: 348px;
    }

    .swiper3 img {
        width: 750px;
    }

    .swiper3__4 {
        width: 386px !important;
    }

    .swiper3 .swiper-slide {
        align-items: center;
    }

    .stagesOfWork__main img {
        width: 520px;
        align-self: center;
    }

    .stagesOfWork-el h3 {
        font-size: 25px;
    }

    .stagesOfWork-el {
        width: 320px;
    }

    .stagesOfWork-el3 {
        margin-left: 45px;
    }

    .stagesOfWork-el2 {
        margin-right: 45px;
    }

    #aboutCompany {
        margin-top: 80px;
    }

    #aboutCompany .whatWeSolve__text p {
        width: 949px;
    }

    #aboutCompany .whatWeSolve_line {
        height: 220px;
    }

    .aboutCompany__info {
        margin-top: 76px;
    }

    .aboutCompany_number h3 {
        font-size: 70px;
    }

    .aboutCompany_numbers {
        width: 682px;
    }

    .aboutCompany_number {
        width: 302px;
    }

    .unique__company {
        column-gap: 20px;
    }

    .unique__company__el {
        width: 276px;
    }

    #ourTeam h2 {
        margin-top: 80px;
    }

    .team__member {
        width: 240px !important;
    }

    .team__member1 img {
        width: 76px;
    }

    #ourClients h2 {
        margin: 80px 0 64px;
        width: 600px;
    }

    #reviews h2 {
        margin-top: 80px;
    }

    .form2__block1 {
        width: 655px;
        padding-top: 60px;
    }

    .form2__block1 h3 {
        font-size: 55px;
        width: auto;
    }

    .form2__block1 p {
        font-size: 23px;
        padding-right: 35px;
    }

    #form2 img {
        width: 685px;
        /* height: 901px; */
    }

    #form2 {
        margin-bottom: 70px;
        margin-top: 60px;
    }

    .form2__block1 input {
        padding-top: 18px;
        padding-bottom: 18px;
        width: 376px;
    }

    .form2__block1 button {
        width: 376px;
        padding: 14px 0;
    }

    .form2__block1 span {
        margin-top: 0;
        padding-bottom: 15px;

    }

    .inputCheck {
        width: 560px;
        margin-top: 42px;
    }

    .sticky__call,
    .sticky__call2 {
        display: none;
    }

    .sticky__call3__2 {
        display: none;
    }

    .sticky__call3 {
        display: block;
    }
}

.burgerButton {
    display: none;
}
.swiper4__main{
    position: relative;
}

@media screen and (max-width:1350px) {
    .container {
        max-width: 708px;
    }

    .burgerButton {
        display: block;
        cursor: pointer;
    }

    .header__main ul {
        display: none;
    }

    .sticky__call3 {
        display: none;
    }

    .swiper__slideText {
        height: 727px;
        padding-left: 30px;
    }

    .swiper1_slide {
        background: none;
        padding-left: 0;
    }

    #section1 .container {
        max-width: 100%;

    }

    .swiper__slideText h1 {
        font-size: 40px;
        width: 620px;
        padding-top: 35px;
    }

    .loginToCabinet {
        margin-top: 25px;
        width: 332px;
        font-size: 20px;
    }

    .swiper__slideText>p {
        font-size: 20px;
    }

    .slider__icons {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 37px;
    }

    .slider__icons div p {
        font-size: 20px;
    }

    .swiperNavigation1 .swiper-pagination-bullet {
        height: 50px;
    }

    .swiperNavigation1 .swiper-button-prev {
        top: -160px;
    }

    .swiperNavigation1 .swiper-button-next {
        top: 185px;
    }

    .swiperNavigation1 {
        top: 66%;
    }

    h2 {
        font-size: 40px;
        width: 304px;
    }

    .whatWeSolve__text {
        gap: 20px;
    }

    .whatWeSolve__rightText {
        font-size: 25px;
        right: -200px;
    }

    .whatWeSolve__text p {
        width: auto;
        font-size: 20px;
    }

    .swiper2__element {
        padding-top: 29px;
        padding-left: 15px;
        width: 346px;
    }

    .swiper2__element>div {
        align-items: flex-start;
        margin-bottom: 20px;
        gap: 18px;
        flex-direction: column;
    }

    .swiper2__element h3 {
        font-size: 20px;
        width: auto;
    }

    .swiper2__element_logo {
        width: 50px;
        height: 50px;
    }

    .swiper2__element_logo img {
        width: 30px;
    }

    .swiper2__element p {
        font-size: 16px;
        width: auto;
    }

    .h3_swiper {
        width: auto !important;
    }

    .swiperBut2 {
        top: 47%;
        width: 50px;
        left: -12px;
        height: 50px;
    }

    .swiperBut2_2 {
        left: auto;
        right: -12px;
    }

    .swiper2__elementHead {
        gap: 16px;
        width: 346px;
    }

    .swiper2 {
        margin-top: 60px;
        padding-top: 15px !important;
    }

    .tools__main {
        flex-direction: column;
    }

    .tools__mother {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .tool__element {
        padding: 0;
        padding-left: 23px;
        width: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 107px;
    }

    .tool__element p {
        text-align: left;
        font-size: 20px;
    }

    .tool__element3 {
        padding: 0;
    }

    .tool__element_open {
        width: 704px;
        padding-top: 48px;
        padding-left: 32px;
        height: auto;
        padding-bottom: 40px;
    }

    .tool__element_open .whatWeSolve__text {
        gap: 20px;
    }

    .tool__element_open .whatWeSolve__text p {
        width: 589px;
        font-size: 20px;
    }

    .tool__element_open h3 {
        padding-top: 33px;
    }

    .tool__element_open__allow {
        padding-top: 22px;
        gap: 20px;
    }

    .tool__element_open__allow-element span {
        font-size: 16px;
    }

    .tool__element_open__allow-element p {
        width: auto;
        padding-bottom: 22px;
    }

    #form__toRequest .container {
        max-width: 100%;
    }

    #form__toRequest h3 {
        font-size: 40px;
    }

    #form__toRequest p {
        font-size: 20px;
    }

    .form__toRequest__main form {
        flex-direction: column;
        align-items: center;
    }

    .form__toRequest__main {
        height: auto;
        padding-bottom: 50px;
    }

    .form__input {
        width: 376px;
    }

    .form__toRequest__main button {
        width: 376px;
    }

    .inputCheck span {
        font-size: 14px;
    }

    .inputCheck {
        width: 689px;
    }

    .cases__button {
        width: 225px;
        font-size: 20px;
        padding: 0 18px;
    }
    .swiper4 {
        padding-right: px !important;
    }
    .swiper4 .swiper-slide{
        height: auto;
    }
    .cases_element>h3 {
        width: 635px;
        font-size: 30px;
    }

    .cases__element_main {
        padding-left: 0;
    }

    .cases_texts_head h3 {
        font-size: 20px;
    }

    .cases_texts-el p {
        font-size: 18px;
        width: 300px;
    }

    .cases_texts_main {
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cases_texts-el ul {
        width: 327px;
    }

    .cases__lastDivs {
        width: 346px;
        padding-top: 32px;
        padding-left: 26px;
        background-size: 56px;
    }

    .cases__lastDivs span {
        width: 265px;
        padding-top: 24px;
        font-size: 16px;
    }

    .cases__lastDivs p {
        font-size: 20px;
    }

    .cases__button_main {
        margin-top: 30px;
    }

    .cases__lastDivs__mother {
        display: flex;
        gap: 16px;
    }

    #toolsandReviews {
        margin-top: 70px;
    }

    #whatWeSolve {
        margin-top: 70px;
    }

    #whatWeSolve .whatWeSolve_line {
        height: 50px;
    }

    #form__toRequest {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .cases__element_main {
        margin-top: 30px;
    }

    .ourAdventages_main {
        display: none;
    }

    .ourAdventages_main2 {
        display: flex;
        gap: 13px;
    }

    .ourAdventages_main2 .swiper2__element {
        padding-right: 44px;
    }

    .swiper3 .swiper-slide {
        flex-direction: column;
        gap: 50px;
    }

    .swiper3 .swiper-slide div {
        align-self: flex-start;
    }

    .swiper3__main {
        margin-top: 80px;
    }

    .swiper3 h3 {
        padding-left: 0;
    }

    .swiper3 img {
        width: 600px;
        align-self: center;
    }

    .swiperBut3 {
        top: 71%;
        left: -2%;
    }

    .swiperBut3_3 {
        left: 93%;
    }

    .swiper3__4 {
        margin-right: 0;
    }

    .form__toRequest__main {

        background: url(./photos/form2Back.png);
        background-size: 100% 100%;
    }

    .stagesOfWork__main img {
        display: none;
    }

    .stagesOfWork-el2 {
        margin: 20px 0;

    }

    .stagesOfWork-el3 {
        margin: 20px 0;
    }

    .stagesOfWork-el {
        width: 346px;
        height: 216px;
        padding: 30px 10px 40px 40px;
    }

    .stagesOfWork__el_mother {
        margin-top: 0;
        align-self: flex-start;
    }

    .stagesOfWork__main {
        align-items: flex-start;
    }

    .stagesOfWork-el span {
        font-size: 16px;
    }

    #aboutCompany {
        margin-top: 70px;
    }

    #aboutCompany .whatWeSolve__rightText {
        display: none;
    }

    #aboutCompany .whatWeSolve__text p {
        width: 690px;
        font-size: 20px;
    }

    .aboutCompany__info {
        margin-top: 30px;
        flex-direction: column;
    }

    .aboutCompany_number h3 {
        font-size: 60px;
    }

    .aboutCompany_number p {
        font-size: 20px;
    }

    .aboutCompany_numbers {
        gap: 20px;
        row-gap: 35px;
    }

    .aboutCompany__info_block2 {
        margin-top: 30px;
    }

    .aboutCompany__info_block2 h3 {
        font-size: 30px;
    }

    .unique__company__el img {
        width: 50px;
    }

    .unique__company {
        row-gap: 30px;
    }

    .team__member {
        width: 216px !important;
    }

    .team__member h3 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 16px;
    }

    .team__member p {
        font-size: 18px;
    }

    .team__member span {
        font-size: 16px;
        display: block;
        padding-top: 16px;
    }

    #ourTeam h2 {
        margin-top: 70px;
    }

    .swiper-button-next5 {
        right: 19px;
        top: -20%;

    }

    .swiper-button-prev5 {
        left: 528px;
        top: -20%;

    }

    #ourClients h2 {
        margin: 70px 0 30px;
    }

    .clients1 img {
        width: 20%;
    }

    .clients2 img {
        width: 20%;
    }

    #reviews h2 {
        margin: 70px 0 30px;
    }

    .swiper4 .swiper-slide {
        padding: 20px;
    }

    .swiper4__head {
        font-size: 20px;
        gap: 13px;
    }
    .swiper-button-next3 img{
        width: 15px;
    }
    .swiper-button-prev3 img{
        width: 15px;
    }
    .swiper-button-next3 {
        right: 0;
        top: -80px;
        width: 51px;
        height: 51px;
    }

    .swiper4 {
        padding: 0 5px;
    }

    .swiper-button-prev3 {
        left: auto;
        right: 75px;
        top: -80px;
        width: 51px;
        height: 51px;
    }

    .acount_main {
        width: 768px;
        padding: 47px 0 40px;
    }

    .acount_main input {
        width: 440px;
    }

    .acount_main button {
        width: 440px;
    }

    .inputCheck3 {
        width: 539px;
    }

    .acount_main span {
        width: auto;
        margin-top: 0;
    }

    .acount_OK {
        padding: 36px 0;
        width: 370px;
    }

    .confidation2 {
        cursor: pointer;
    }

    .acount_OK h3 {
        font-size: 27px;
    }

    .acount_OK p {
        font-size: 18px;
    }

    .acount_main h3 {
        font-size: 40px;
    }

    .acount_main p {
        font-size: 20px;
    }

    #form2 .container {
        max-width: 100%;
    }

    .form2__main img {
        display: none;
    }

    .form2__block1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-bottom: 50px;
        background: url(./photos/form2Back.png);
    }

    .form2__block1 h3 {
        font-size: 40px;
    }

    .footer__address {
        display: none;
    }

    .footer_main li a {
        font-size: 16px;
    }

    footer .header__call {
        gap: 20px;
        font-family: Stem500;
        font-weight: normal;
        font-size: 23px;
    }

    .underfooter {
        display: none;
    }

    .underfooter2 {
        display: flex;
        margin-top: 28px;
        justify-content: space-between;
    }

    .underfooter2 div {
        font-family: Stem100;
    }

    .underfooter2 span {
        font-family: Stem100;

    }

    .addres2 {
        width: 334px;
    }

    .addres2__1 {
        width: 300px;
    }

    .addres2__1 p {
        font-size: 14px;
    }

    .underfooter2 p {
        margin-top: 8px;
        margin-bottom: 42px;
        font-family: Stem100;

    }

    .swiper3 .swiper-pagination {
        left: 1% !important;
    }

    .swiper3 .swiper-slide {
        padding-right: 0;
    }

    .confidation__main {
        width: 768px;
        padding-bottom: 48px;
    }

    .confidation__main h3 {
        font-size: 35px;
    }

    .confidation__text {
        font-size: 17px;
    }

    h2 {
        padding-left: 0;
    }

    #stagesOfWork h2 {
        width: auto;
        padding-left: 0;
    }
    .swiper2__element__2 {
        margin-bottom: 0 !important;
    }
    .tool__element_open1 .tool__element_open__allow-element{
        width: 296px;
    }
    .tool__element_open__allow-element{
        width: 312px;
    }
}

option {
    border: none;
    padding: 20px 0;
}


@media screen and (max-width:730px) {
    .container {
        max-width: 338px;
    }

    .header__logo img {
        width: 79px;
    }

    .header__call img {
        width: 15px;
    }

    .header__call {
        font-size: 16px;
    }

    .burgerButton img {
        width: 38px;
    }

    .header__main {
        padding: 10px 0;
    }

    .swiper__slideText h1 {
        font-size: 30px;
        padding-top: 38px;
        width: auto;
    }

    .swiper__slideText>p {
        font-size: 18px;
        width: auto;
    }

    p {
        font-size: 18px;

    }

    .slider__icons div {
        width: auto;
    }

    .swiperNavigation1 {
        position: static;
    }

    .swiperNavigation1 .swiper-pagination {
        right: 0 !important;
        bottom: 25px !important;
    }

    .swiperNavigation1 .swiper-pagination-bullet {
        height: 3px;
        margin-right: 20px !important;
        width: 50px;
    }

    .swiper__slideText {
        padding-left: 20px;
    }

    .swiperNavigation1 .swiper-button-next {
        top: auto;
        bottom: 24px;
        width: 34px;
        height: 25px;
        z-index: 100000;
        right: 10px !important;
        transform: rotate(-90deg);
    }

    .swiperNavigation1 .swiper-button-prev {
        top: auto;
        bottom: 24px;
        left: 0px !important;
        transform: rotate(90deg);
        width: 34px;
        height: 25px;
    }

    .swiper1 {
        height: 724px !important;
    }

    .swiper__slideText3 .slider__icons {
        margin-top: 100px;
    }

    .slider__icons div p {
        width: auto;
        font-size: 18px;
    }

    .whatWeSolve__rightText {
        font-size: 20px;
        right: -220px;
    }

    h2 {
        font-size: 30px;
    }

    #whatWeSolve {
        margin-top: 50px;
    }

    .whatWeSolve__text p {
        font-size: 16px;
    }

    .whatWeSolve__text {
        gap: 15px;
    }

    .swiper2 {
        /* padding-left: 5px !important; */
        margin-top: 31px;
    }

    .swiper2__element {
        height: 250px !important;
        width: 331px;
        padding-right: 5px;
    }
    .swiper2__elementHead{
        width: auto;
    }
    .swiper2__element h3 {
        width: 221px !important;
        font-size: 18px;
    }

    .swiper2__element>div {
        flex-direction: row;
        gap: 18px;
    }

    #toolsandReviews {
        margin-top: 50px;
    }

    .tools__mother {
        display: none;
    }

    .tools__mother2 {
        display: block;
        border-radius: 10px;
        width: 335px;
        cursor: pointer;
        margin-top: 20px;
        padding: 20px 27px;
        position: relative;
        background: #FFF;
        box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.10);
    }

    .tools__list__el {
        display: none;
        font-family: Stem500;
        font-size: 16px;
    }


    .tools__list_selected {
        display: block;
        margin-bottom: 0;
        margin-top: 0;
        color: #C91717;
    }

    .tools__list {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .arrowBot {
        position: absolute;
        top: 30px;
        transform: translateY(-50%);
        right: 14px;
    }

    .tool__element_open {
        box-shadow: none;
        border-radius: 0;
        width: auto;
        padding: 0;
    }

    .tool__element_open .whatWeSolve__text p {
        width: 317px;
        font-size: 16px;
    }

    .tools__main .whatWeSolve_line {
        height: 232px;
    }

    .tool__element_open h3 {
        font-size: 20px;
    }

    .tool__element_open__allow-element {
        width: auto;
    }

    #form__toRequest h3 {
        font-size: 27px;
        padding-top: 44px;
    }

    #form__toRequest p {
        font-size: 18px;
    }

    .form__input {
        width: 314px;
    }

    .form__toRequest__main form {
        gap: 15px;
    }

    .form__toRequest__main button {
        width: 314px;
    }

    .inputCheck {
        width: 314px;
    }

    #form__toRequest {
        margin: 50px 0;
    }

    .cases_element>h3 {
        font-size: 23px;
        width: auto;
    }

    .cases_texts_head {
        gap: 18px;
    }

    .cases_texts-el {
        margin-bottom: 20px;
    }

    .cases_texts_head h3 {
        font-size: 18px;
    }

    .cases_texts-el p {
        font-size: 14px;
        width: auto;
    }

    .cases_texts-el ul li {
        font-size: 14px;
        width: 314px;
        margin-left: auto;
    }

    .cases_texts_head img {
        width: 48px;
    }

    .cases__lastDivs__mother {
        flex-direction: column;
        gap: 16px;
    }

    .cases__lastDivs p {
        font-size: 18px;
    }

    .cases__lastDivs span {
        font-size: 14px;
    }

    .cases__lastDivs {
        height: 163px;
    }

    #ourAdventages {
        margin-top: 40px;
    }

    #ourAdventages h2 {
        width: 200px;
    }

    #ourAdventages .whatWeSolve__rightText {
        right: -243px;
    }

    .ourAdventages_main2 {
        flex-direction: column;
    }

    .swiper2__element p {
        font-size: 14px;
    }

    .ourAdventages_main2 .swiper2__element {
        height: fit-content !important;
        padding-bottom: 20px;
    }

    .swiper3 h3 {
        font-size: 23px;
    }

    .swiper3__main {
        margin-top: 50px;
    }

    .swiper3__text {
        gap: 20px;
    }

    .swiper3__text p {
        width: 301px;
        font-size: 16px;
    }

    .swiper3Line {
        height: 65px;
    }

    .swiper3 img {
        width: 325px;
    }

    .swiper3__4 {
        width: 164px !important;
    }

    .swiperBut3 {
        width: 33px;
        height: 33px;
    }

    .swiperBut3 img {
        width: 8px;
    }

    .cases_texts-el-text {
        margin-left: 0;
    }

    .stagesOfWork__main {
        flex-direction: column;
        gap: 10px;
    }

    .stagesOfWork-el2 {
        margin: 10px 0;
    }

    .stagesOfWork-el3 {
        margin: 10px 0;
    }

    .stagesOfWork-el p {
        font-size: 20px;
    }

    .stagesOfWork-el h3 {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .stagesOfWork-el span {
        font-size: 14px;
    }

    .stagesOfWork-el {
        padding: 10px 10px 0 20px;
    }

    #aboutCompany {
        margin-top: 50px;
    }

    #aboutCompany .whatWeSolve__text p {
        font-size: 16px;
        width: 319px;
    }

    #aboutCompany .whatWeSolve_line {
        height: 275px;
    }

    .aboutCompany_number h3 {
        font-size: 40px;
    }

    .aboutCompany_number p {
        font-size: 16px;
    }

    .aboutCompany_number {
        width: 100%;
    }

    .aboutCompany_numbers {
        width: 100%;
        margin-top: 30px;
    }

    .aboutCompany__info_block2 h3 {
        font-size: 23px;
        margin-bottom: 30px;
    }

    .unique__company__el {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .aboutCompany__info_block2 {
        padding: 25px 36px 36px 23px;
    }

    .unique__company__el p {
        margin-top: 0;
        width: 204px;
        font-size: 14px;
    }

    #ourTeam h2 {
        margin-top: 50px;
        width: 160px;
    }

    .swiper-button-prev5,
    .swiper-button-prev3 {
        left: 222px;
        width: 40px;
        height: 40px;
    }
    .swiper-button-prev5{
        top: -12%;
    }
    .swiper-button-next5{
        top: -12%;
    }

    .swiper-button-next5,
    .swiper-button-next3 {
        width: 40px;
        height: 40px;
    }
    #ourTeam h2{
        margin-bottom: 30px;
    }
    .swiper-button-next3 {
        right: 57px;
    }

    .swiper-button-prev3 {
        left: 310px;
    }

    .swiper-button-next5 img,
    .swiper-button-prev5 img,
    .swiper-button-next3 img,
    .swiper-button-prev3 img {
        width: 11px;
    }

    .team__member {
        width: 155px !important;
    }

    .team__member1 img {
        width: 50px;
    }

    #ourClients h2 {
        width: auto;
        margin-top: 50px;
    }

    .swiper4 .swiper-slide span {
        font-size: 14px;
    }

    .swiper4 .swiper-slide p {
        font-size: 14px;
    }

    .swiper-button-prev3 {
        left: 273px;
    }

    .swiper-button-next3 {
        right: 29px;
    }

    .swiper4 {
        padding: 0 4px !important;
    }

    .swiper4__head {
        font-size: 18px;
    }

    .swiper4__head img {
        width: 52px;
    }

    .swiper4 .swiper-slide {
        height: auto;
        justify-content: flex-start;
        gap: 33px;
    }

    .swiper4 .swiper-wrapper {
        align-items: flex-start !important;
    }

    #form2 {
        margin: 30px 0 50px;
    }

    .form2__block1 h3 {
        font-size: 30px;
    }

    .form2__block1 {
        padding-top: 45px;
    }

    .form2__block1 p {
        padding: 0;
        text-align: center;
        font-size: 16px;
    }

    .form2__block1 form {
        margin-top: 35px;
    }

    .form2__block1 input {
        width: 314px;
    }

    .form2__block1 button {
        width: 314px;
        font-size: 20px;
    }

    .contact {
        width: 100%;
    }

    .footer_main {
        flex-wrap: wrap;
    }

    .footer__logo img {
        width: 126px;
    }

    .footer_main li a {
        font-size: 14px;
    }

    .contact {
        text-align: center;

    }

    .contact .header__call {
        justify-content: center;
        margin-top: 27px;
    }

    .contact span {
        margin-top: 15px;
    }

    .contact .header__call img {
        width: 24px;

    }

    .underfooter2 {
        gap: 19px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .addres2 {
        font-size: 14px;
        align-self: center;
        width: 297px;
    }

    .addres2__1 {
        font-size: 12px;
    }

    .burger__menu {
        visibility: hidden;

        width: 100%;
    }

    .burger__logo img {
        width: 101px;
    }

    .burger__logo_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger__menu_main ul {
        margin-top: 69px;
    }

    .burger__menu_main ul a {
        font-size: 16px;
    }

    .burger_contact {
        margin-top: 266px;
    }

    .burger_contact .header__call {
        font-size: 22px;
    }

    .burger_contact .header__call img {
        width: 24px;
    }

    .burger_contact svg {
        width: 40px;
    }

    .acount_main {
        width: 375px;
        padding: 35px 30px 21px;
    }

    .acount_main h3 {
        font-size: 27px;
    }

    .acount_main p {
        font-size: 18px;
    }

    .acount_main input {
        width: 314px;
    }

    .acount_main button {
        width: 314px;
    }

    .acount_main form {
        gap: 15px;
    }

    .acount_main p {
        margin: 12px 0 29px;
    }

    input {
        font-size: 16px !important;
    }

    .acount_main span {
        font-size: 10px;
    }

    .inputCheck3 {
        margin-top: 20px;
    }

    .cases__lastDivs {
        margin-bottom: 0;
    }

    .ourAdventages_main2 {
        margin-bottom: 13px;
    }

    .swiperBut2 {
        width: 40px;
        height: 40px;
    }

    .swiperBut2 img {
        width: 10px;
    }

    .swiper3 .swiper-slide {
        gap: 22px;
    }

    .confidation__main {
        width: 375px;
        padding: 23px 11px 29px 22px;
        height: auto;
    }

    .confidation__main h3 {
        font-size: 27px;
        padding-bottom: 15px;
    }

    .confidation__text {
        font-size: 14px;
        font-family: Stem100;
        font-weight: bold;
        padding-right: 32px;
    }

    .cases__button_main {
        display: none;
    }

    .slider__icons {
        gap: 16px;
    }

    .slider__icons img {
        width: 40px;
    }

    .swiper1 {
        height: 672px !important;
    }

    .swiperNavigation1 .swiper-pagination-bullet p {
        font-size: 20px;
        top: -28px;
        left: 13px;
    }

    .swiperNavigation1 img {
        width: 23px;
    }

    .close svg {
        width: 24px;
        height: 24px;
    }

    #form__toRequest p {
        padding-bottom: 25px;
    }

    .inputCheck {
        margin-top: 23px;
    }

    .swiper3 .swiper-pagination {
        left: 0;
    }

    .swiper3 .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
    }

    .swiper3__text {
        margin-top: 35px;
    }

    .form__toRequest__main button {
        font-size: 20px;
    }

    .inputCheck span {
        font-size: 12px;
    }
    .swiper-button-prev3{
        left: auto;
        top: -65px;
    }
    .swiper-button-next3{
        right: 0;
        top: -65px;
    }
    
}